<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>User Home</title>


</head>
<body>
<h1> Hello u are now in User after login page</h1>

<h2>Employee Lisst</h2>

<table id="table-content">
    <thead>
    <tr>
        <td>Id</td>
        <td>Designation</td>
        <td>Name</td>
        <td>Email</td>
        <td>Gender</td>

        <td>Number</td>
        <td>Edit</td>

    </tr>

    <!--<tr>-->
        <!--<td value="view.id"></td>-->
        <!--<td value="data.designation"></td>-->
        <!--<td value="data.name"></td>-->
        <!--<td value="data.email"></td>-->
        <!--<td value="data.gender"></td>-->

        <!--<td value="data.number"></td>-->
        <!--<td><button>Edit</button></td>-->
    <!--</tr>-->

    <tr>
    <td value="view.id"></td>

    </tr>
    </thead>
</table>

<!--Jquery Library Link-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
$.ajax(
{
type: "GET",
url: "home",
contentType: "application/json; charset=utf-8",
dataType: "json",
success: function(data){

for (var i=0; i<data.length; i++) {
var row = $('<tr><td>' + data[i].id + '</td><td>' + data[i].designation
    + '</td><td>' + data[i].name + '</td><td>' + data[i].email + '</td><td>'
    + data[i].gender + '</td><td>' + data[i].number + '</td><td>'
    + data[i].edit + '</td></tr>');

$('#table-content').append(row);
}
},

error: function(msg){
alert(msg.responseText);
}
});

})
</script>
</body>


<style >
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

</html>